
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderLabel" data-translate="jhipsterApp.order.home.createOrEditLabel">Create or edit a Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.order.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.order.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.order.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.order.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.order.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.order.quantity"
                    required />
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.order.productName" for="field_productName">Product Name</label>
            <select class="form-control" name="productName" ng-model="vm.order.productName" id="field_productName" required>
                <option value="BRED" data-translate="jhipsterApp.Product.BRED">BRED</option>
                <option value="MILK" data-translate="jhipsterApp.Product.MILK">MILK</option>
                <option value="WINE" data-translate="jhipsterApp.Product.WINE">WINE</option>
            </select>
            <div ng-show="editForm.productName.$invalid">
                <p class="help-block"
                    ng-show="editForm.productName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterApp.order.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.order.amount"
                    required />
            <div ng-show="editForm.amount.$invalid">
                <p class="help-block"
                    ng-show="editForm.amount.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
